* {
    padding: 0;
    margin: auto;
}

main {
    width: 1054px;
    height: 750px;
}

.aside {
    float: left;
    width: 200px;
    margin-left: 50px;
    height: 750px;
}

.article {
    float: left;
    width: 804px;
    height: 750px;
}

.rank {
    position: relative;
    width: 200px;
    margin: 0;
    height: 48px;
    margin-top: 50px;
    text-align: center;
    border-bottom: 2px solid rgb(145, 205, 255);
}

.rank span {
    position: absolute;
    width: 200px;
    height: 48px;
    left: 0;
    line-height: 50px;
    font-size: 24px;
    font-family: 黑体;

}

.rank_outer {
    width: 200px;
    height: 350px;
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;
}

.rank_inner {
    position: absolute;
    overflow-y: scroll;
}

.rank_content {
    width: 200px;
    height: 350px;
}

.often {
    position: relative;
    width: 200px;
    margin: 0;
    height: 48px;
    margin-top: 50px;
    text-align: center;
    border-bottom: 2px solid rgb(145, 205, 255);
}

.often span {
    margin: 0;
    position: absolute;
    width: 200px;
    height: 48px;
    left: 0;
    line-height: 50px;
    font-size: 24px;
    font-family: 黑体;
}
.box {
    width: 200px;
    height: 200px;
    zoom: 1;
    overflow: hidden;
}

.box:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

#contex {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.pic {
    width: 20000px;
    height: 200px;
    transition: all 0s;
    zoom: 1;
}

.pic:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.pic img {
    width: 200px;
    height: 200px;
    float: left;
    display: block;
}

.roles,
.roles1,
.roles2,
.roles3 {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    /*解决盒子上下margin重叠*/
    display: inline-block;
}

.role_number {
    float: left;
    width: 40px;
    height: 50px;
    font-size: 16px;
    text-indent: 1em;
    line-height: 50px;
}

.role_head {
    float: left;
    width: 50px;
    height: 50px;
    /*
            控制图片缩放
            */
    display: flex;
    justify-content: center;
    align-items: center;
}

.roles1 .role_name a,
.roles1 {
    color: rgb(236, 232, 3);
}

.roles2 .role_name a,
.roles2 {
    color: rgb(218, 218, 218);
}

.roles3 .role_name a,
.roles3 {
    color: rgb(173, 89, 66);
}

.role_head img {
    width: 40px;
    height: 40px;
}

.role_head img:hover {
    transform: scale(1.2);
    transition: all 0.6s;
}

.role_name {
    float: left;
    width: 110px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.role_name a {
    text-decoration: none;
    color: black;
}

.role_name a:hover {
    color: rgb(44, 125, 245);
}

.recommend {
    width: 802px;
    margin-top: 50px;
    height: 48px;
    position: relative;
    background-color: white;
    border-bottom: 2px solid rgb(145, 205, 255);
    background-color: #f9f9f9;
}

.recommend span {
    width: 180px;
    height: 48px;
    position: absolute;
    margin: 0;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-family: 黑体;
    background-color: rgba(226, 245, 251, 0.584);
}

.singers {
    width: 800px;
    height: 650px;
    border-right: 2px solid rgb(200, 200, 200);
    overflow: hidden;
    position: relative;
}

.innerbox {
    position: absolute;
    overflow-y: scroll;
}

.content {
    width: 800px;
    height: 650px;
}

.singer {
    width: 800px;
    height: 180px;
    margin-bottom: 20px;
    background-color: skyblue;
    /*解决盒子上下margin重叠*/
    display: inline-block;

}

.head {
    float: left;
    width: 180px;
    height: 180px;
    margin: 0;

    background-color: #f9f9f9;
}

.pictures {
    width: 180px;
    height: 140px;
    /*
            控制图片缩放
            */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictures img {
    width: 100px;
    height: 100px;
}

.pictures img:hover {
    transform: scale(1.2);
    transition: all 0.6s;
}

.head span {
    display: inline-block;
    width: 180px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

.outerbox {
    width: 500px;
    height: 180px;
    overflow: hidden;
    position: relative;
}

.music-container {
    background-color: #fff;
    /* 设置背景颜色 */
    border-radius: 10px;
    /* 设置边框圆角 */
    box-shadow: 0 20px 20px 0 rgba(8, 182, 212, 0.822);
    /* 设置阴影效果 */
    display: flex;
    /* 设置为弹性布局 */
    padding: 15px 20px;
    /* 设置内边距 */
    position: relative;
    /* 设置定位为相对定位 */
    margin: 65px 0 35px 0;
    /* 设置外边距 */
    z-index: 40;
    /* 设置层级 */
    width: 400px;
    height: 50px;

}

.img-container {
    position: relative;
    /* 设置定位为相对定位 */
    width: 50px;
    /* 设置宽度 */
}

.img-container::after {
    content: "";
    /* 设置伪元素内容为空 */
    background-color: #49cce3;
    /* 设置背景颜色 */
    border-radius: 50%;
    /* 设置圆形 */
    position: absolute;
    /* 设置绝对定位 */
    bottom: 100%;
    /* 距离底部的距离 */
    left: 50%;
    /* 距离左侧的距离 */
    width: 15px;
    /* 设置宽度 */
    height: 15px;
    /* 设置高度 */
    transform: translate(-50%, 50%);
    /* 设置旋转 */
}


.img-container img {
    border-radius: 70%;
    height: 90px;
    width: 90px;
    object-fit: cover;
    position: absolute;
    bottom: -40px;
    left: -20px;
    /* 封面360°旋转，默认不动 */
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img {
    /* 播放 */
    animation-play-state: running;
}

/* 定义旋转动画 */
@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    /* 取消默认样式 */
    border: 0;
    background-color: #fff;
    /* ----- */
    color: #41bce5;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn:focus {
    /* 取消默认样式 */
    outline: 0;
}

.action-btn.action-btn-big {
    color: #0cdae9;
    font-size: 30px;
}



.music-info {
    position: absolute;
    top: 0;
    left: 20px;
    /* 将宽度缩小 */
    width: calc(100% - 150px);
    background-color: #fff;

    /* 减小左侧内边距 */
    padding: 10px;
    padding-left: 100px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;

    /* 添加圆角边框 */
    border-radius: 10px;
}


.music-info h4 {
    /* 取消标题默认边距 */
    margin: 0;
}

.music-container.play .music-info {
    /* 播放时显示 */
    opacity: 3;
    /* 向上平移100% */
    transform: translateY(-100%);
}

.progress-container {
    /* 设置背景色为白色 */
    background-color: #6a0eff;
    /* 设置边框圆角 */
    border-radius: 5px;
    /* 设置鼠标样式为指针 */
    cursor: pointer;
    /* 设置上下边距 */
    margin: 10px 0;
    /* 设置高度 */
    height: 4px;
    /* 宽度占满父元素 */
    width: 100%;
    /* 设置父容器相对定位 */
    position: relative;
}

.progress {
    /* 设置背景色为浅蓝色 */
    background-color: #0decfc;
    /* 设置边框圆角 */
    border-radius: 5px;
    /* 设置高度占满 */
    height: 100%;
    /* 初始宽度为0 */
    width: 0;
    /* 进度条过渡效果 */
    transition: width 0.1s linear;
    /* 设置进度条相对定位 */
    position: absolute;
    /* 从左侧开始 */
    left: 0;
    /* 顶部对齐 */
    top: 0;
}